<?xml version="1.0"?>
<launch>
	<include file="$(find px4_gcs)/launch/single.launch">
		<arg name="name" value="AM1"/>
		<arg name="navigation" value="vicon"/>
		<arg name="traj" value="/home/hss/Documents/MATLAB/180119_RAM/case3/AM1_traj.txt"/>
	</include>

	<!--group ns="AM2">
		<include file="$(find px4_gcs)/launch/single.launch">
			<arg name="name" value="AM2"/>
			<arg name="platform" value="pixhawk"/>
			<arg name="navigation" value="vicon"/>
			<arg name="traj" value="/home/hss/Documents/MATLAB/180119_RAM/case3/AM2_traj.txt"/>
		</include>
	</group-->
	
	<!--group ns="F450">
		<include file="$(find px4_gcs)/launch/single.launch">
			<arg name="name" value="F450"/>
			<arg name="platform" value="pixhawk"/>
			<arg name="navigation" value="vicon"/>
			<arg name="traj" value="/home/hss/Documents/MATLAB/180119_RAM/AM2_traj.txt"/>
		</include>
	</group-->

	<include file="$(find px4_gcs)/launch/keyboard.launch">
		<arg name="gcs_count" value="1"/>
		<arg name="name1" value="AM1" />
		<!--arg name="name2" value="AM2" /-->
		<!--arg name="name3" value="AM3" /-->
	</include>

</launch>
